<% if notice %>
    <div class="notice alert alert-success alert-dismissible fade show">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% elsif alert %>
    <div class="alert alert-danger alert-dismissible fade show">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>